/* SECTION */
@media (min-width: 1200px){
    section{
        grid-template-areas: "aside article" "paginator paginator";
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    section{
        grid-template-areas: "aside article" "paginator paginator";
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr auto;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    section{
        grid-template-areas: "aside article" "paginator paginator";
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr auto;
    }

}
@media (max-width: 767px){
    section{
        grid-template-areas: "aside article" "paginator paginator";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

}
@media (max-width: 650px){
    section{
        grid-template-areas: "aside" "article" "paginator";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

}
@media (max-width: 480px){
    section{
        grid-template-areas: "aside" "article" "paginator";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

}
/* article aside */
@media (min-width: 1200px){
    aside {
        margin-left: 12px;
        margin-right: 0px;
    }
    article {
        margin-right: 12px;
        margin-left: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    aside {
        margin-left: 12px;
        margin-right: 0px;
    }
    article {
        margin-right: 12px;
        margin-left: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    aside {
        margin-left: 12px;
        margin-right: 0px;
    }
    article {
        margin-right: 12px;
        margin-left: 0px;
    }
}
@media (max-width: 767px){
    aside {
        margin-left: 12px;
        margin-right: 0px;
    }
    article {
        margin-right: 12px;
        margin-left: 0px;
    }
}
@media (max-width: 650px){
    aside {
        margin-left: 12px;
        margin-right: 12px;
    }
    article {
        margin-right: 12px;
        margin-left: 12px;
    }
}
@media (max-width: 480px){
    aside {
        margin-left: 12px;
        margin-right: 12px;
    }
    article {
        margin-right: 12px;
        margin-left: 12px;
    }
}
/* one_header */
@media (min-width: 1200px){
    .one_header {
        grid-template-columns: auto 195px 230px;
    }

}
@media (min-width: 992px) and (max-width: 1199px){
    .one_header {
        grid-template-columns:auto 195px 230px;
    }

}
@media (min-width: 768px) and (max-width: 991px){
    .one_header {
        grid-template-columns: auto 195px 230px;
    }

}
@media (max-width: 767px){
    .one_header {
        grid-template-columns: auto 195px 230px;
    }

}
@media (max-width: 650px){
    .one_header {
        grid-template-columns: auto auto;
    }

}
@media (max-width: 480px){
    .one_header {
        grid-template-columns: auto;
    }
}
/* two_header */
@media (min-width: 992px) and (max-width: 1199px){
    .two_header ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .two_header li{
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .two_header ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .two_header li{
        margin-bottom: 5px;
    }
}
@media (max-width: 767px){
    .two_header ul {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .two_header li{
        margin-bottom: 5px;
    }
}
@media (max-width: 650px){
    .two_header ul {
        display: none;
    }
}
@media (max-width: 480px){
    .two_header ul {
        display: none;
    }
}
/* nav bar */
@media (min-width: 1200px){
    nav{
        grid-template-columns: auto auto 50px 200px 100px;
        grid-template-areas: "tog ul lang search card";
        grid-area: navbar;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    nav{
        grid-template-columns: auto auto 50px 200px 100px;
        grid-template-areas: "tog ul lang search card";
        grid-area: navbar;
    }

}
@media (min-width: 768px) and (max-width: 991px){
    nav{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tog ul ul" "lang search card";
        grid-area: navbar;
    }
}
@media (max-width: 767px){
    nav{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tog ul ul" "lang search card";
        grid-area: navbar;
    }

}
@media (max-width: 650px){
    nav{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tog lang search card" "ul ul ul ul";
        grid-area: navbar;
    }
    nav .toggle {
        display: block;
    }
    nav li{
        display: block;
    }
    nav ul{
        margin-left: 12px;
        text-align: left;
        display: none;
    }
    .d_s_c{
        display: grid;
        /* grid-template-columns: auto; */
        margin-left: 0px;
        float: left;
    }
    .active{
        display: block;
    }
}
@media (max-width: 480px){
    nav{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "tog lang search card" "ul ul ul ul";
        grid-area: navbar;
    }
    nav .toggle {
        display: block;
    }
    nav li{
        display: block;
    }
    nav ul{
        margin-left: 12px;
        text-align: left;
        display: none;
    }
    .d_s_c{
        display: grid;
        /* grid-template-columns: auto; */
        margin-left: 0px;
        float: left;
    }
    .active{
        display: block;
    }
}
@media (max-width: 400px){
    nav .toggle {
        display: block;
    }
    nav li{
        display: block;
    }
    nav ul{
        margin-left: 12px;
        text-align: left;
        display: none;
    }
    .d_s_c{
        display: grid;
        /* grid-template-columns: auto; */
        margin-left: 0px;
        float: left;
    }
    .active{
        display: block;
    }
}
/* footer */
@media (min-width: 1200px){
    footer {
        grid-template-rows: 80% 20%;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
            "hd_4 hd_5 hd_6 hd_7"
            "hd_8 hd_8 hd_8 hd_8";
        grid-area: footer;
        background-color: var(--global_geen);
    }
    .hd_5, .hd_6, .hd_7, .hd_8 {
        padding: 5px;
        margin-right: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    footer {
        grid-template-rows: 80% 20%;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
            "hd_4 hd_5 hd_6 hd_7"
            "hd_8 hd_8 hd_8 hd_8";
        grid-area: footer;
        background-color: var(--global_geen);
    }
    .hd_5, .hd_6, .hd_7, .hd_8 {
        padding: 5px;
        margin-right: 12px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    footer {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas:
            "hd_4 hd_5"
            "hd_6 hd_7"
            "hd_8 hd_8";
        grid-area: footer;
        background-color: var(--global_geen);
    }
    .hd_5, .hd_6, .hd_8 {
        padding: 5px;
        margin-right: 12px;
    }
}
@media (max-width: 767px){
        footer {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas:
            "hd_4 hd_5"
            "hd_6 hd_7"
            "hd_8 hd_8" ;
        grid-area: footer;
        background-color: var(--global_geen);
    }
    .hd_5, .hd_6, .hd_8 {
        padding: 5px;
        margin-right: 12px;
    }
}
@media (max-width: 650px){
    footer {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            "hd_4"
            "hd_5"
            "hd_6"
            "hd_7"
            "hd_8" ;
        grid-area: footer;
        background-color: var(--global_geen);
    }
    .hd_5, .hd_6, .hd_8 {
        padding: 5px;
        margin-right: 12px;
    }
}
@media (max-width: 480px){

}
/* table */
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr{ border: 1px solid #ccc; }
    td {
        border: none!important;
        width: 100%!important;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
/* cart_list */
@media (min-width: 1200px){
    .cart_list{grid-template-columns: auto auto auto auto auto 140px auto auto;}
    .s-hr{display: none;}
    .cart_list span b{display: none;}
    .cart_list span{ border-bottom: 1px solid var(--global_geen);}
}
@media (min-width: 992px) and (max-width: 1199px){
    .cart_list{grid-template-columns: auto auto auto auto auto 140px auto auto;}
    .s-hr{display: none;}
    .cart_list span b{display: none;}
    .cart_list span{border-bottom: 1px solid var(--global_geen);}
}
@media (min-width: 768px) and (max-width: 991px){
    .cart_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .cart_list span{border-bottom: none;}
}
@media (max-width: 767px){
    .cart_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .cart_list span{border-bottom: none;}
}
@media (max-width: 650px){
    .cart_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .cart_list span{border-bottom: none;}
}
@media (max-width: 480px){
    .cart_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .cart_list span{border-bottom: none;}
}
/* product_list */
@media (min-width: 1200px){
    .product_list{grid-template-columns: 50px auto auto auto auto auto 160px;}
    .service_list{grid-template-columns: 50px auto auto auto auto;}
    .s-hr{display: none;}
    .product_list span b, .service_list span b{display: none;}
    .product_list span, .service_list span{ border-bottom: 1px solid var(--global_geen);}
}
@media (min-width: 992px) and (max-width: 1199px){
    .product_list{grid-template-columns: auto auto auto auto auto auto 160px;}
    .service_list{grid-template-columns: 50px auto auto auto auto;}
    .s-hr{display: none;}
    .product_list span b, .service_list span b{display: none;}
    .product_list span, .service_list span{border-bottom: 1px solid var(--global_geen);}
}
@media (min-width: 768px) and (max-width: 991px){
    .product_list img, .service_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .product_list span, .service_list span{border-bottom: none;}

}
@media (max-width: 767px){
    .product_list img, .service_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .product_list span, .service_list span{border-bottom: none;}
}
@media (max-width: 650px){
    .product_list img, .service_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .product_list span, .service_list span{border-bottom: none;}
}
@media (max-width: 480px){
    .product_list img, .service_list img{
        width: 100%;
        height: 100%;
    }
    .s{display: none;}
    .product_list span{border-bottom: none;}
}
/* product_detail */
@media (min-width: 1200px){
    .product_detail{
        grid-template-areas:
            "product_header product_header product_header"
            "product_img feature description"
            "accessories accessories accessories";
        grid-template-columns: auto 500px auto;
        grid-template-rows: auto auto auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .product_detail{
        grid-template-areas:
            "product_header product_header product_header"
            "product_img feature description"
            "accessories accessories accessories";
        grid-template-columns: auto 500px auto;
        grid-template-rows: auto auto auto;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .product_detail{
        grid-template-areas:
            "product_header product_header"
            "product_img feature"
            "description description"
            "accessories accessories";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
}
@media (max-width: 767px){
    .product_detail{
        grid-template-areas:
            "product_header"
            "product_img"
            "feature"
            "description"
            "accessories";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
}
@media (max-width: 650px){
    .product_detail{
        grid-template-areas:
            "product_header product_header"
            "product_img feature"
            "description description"
            "accessories accessories";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
}
@media (max-width: 480px){
    .product_detail{
        grid-template-areas:
            "product_header"
            "product_img"
            "feature"
            "description"
            "accessories";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
}