@import '@/assets/color.scss';
@import '@/assets/main.scss';

.shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
.shadow-hover {
  box-shadow: 0px 0px 5px 0px $grey_color;
}

.card {
  position: relative;
  border: 1px solid rgb(241, 241, 241);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    width: 200px;
    height: auto;
    margin: auto;
  }
  &:hover {
    @extend .shadow-hover;
  }
  p {
    padding: 2px 0;
  }
  a {
    @extend .link_style;
  }
  &__action {
    width: 90%;
    height: 30px;
    background: #fa6262;
    position: absolute;
    top: 50px;
    left: -50px;
    text-align: center;
    line-height: 30px;
    color: white;
    opacity: 0.5;
    transform: rotate(-45deg);
  }
  .fa-heart {
    position: absolute;
    right: 6px;
    color: $blue_color;
    cursor: pointer;
    &:hover {
      color: $red_color;
    }
  }
  .activ_like {
    color: $red_color;
  }
  &__name {
    margin-top: 12px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
  }
  &__body {
    margin: 5px 0;
  }
}
.card--left-right {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 3px;
}
.card--text-crossed {
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 700;
}
.card--red-text {
  color: rgb(252, 98, 91);
  font-size: 16px;
  font-weight: 700;
}
.card__price--text {
  font-size: 16px;
  font-weight: 700;
  padding: 2px 5px;
  background-color: rgba(252, 99, 91, 0.18);
}
