@import "@/assets/color.scss";
@import "@/assets/animation.scss";
@import "@/assets/main.scss";

.icon {
  display: block;
  position: relative;  
  i {
    cursor: pointer;
    padding: 0;
    font-size: 26px;
    margin: 0 10px;
    &:hover {
      @extend .pulse;
    }
  }
  span {
    position: absolute;
    top: -20px;
    right: -5px;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
    background: #F68A8A;
  }
}
