@import "@/assets/main.scss";
@import "@/assets/card.scss";

li {
  @extend .align-items;
  @extend .padding-5;
  justify-content: space-between;
  border-bottom: #85c987 1px solid;

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
  }
  @media (min-width: 425px) and (max-width: 767px) {
    flex-direction: column;
  }
  @media (min-width: 375px) and (max-width: 424px) {
    flex-direction: column;
  }
  @media (min-width: 320px) and (max-width: 374px) {
    flex-direction: column;
  }
  .content {
    display: grid;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    grid-template-columns: 70px 100px auto 32px;

    @media (min-width: 320px) and (max-width: 767px) {
      .card-img-top {
        width: 100px;
        height: auto;
      }
      grid-template-columns: 1fr;
    }

    &__vendor {
      font-size: 12px;
      font-weight: 600;
    }
    a {
      @extend .link_style;
      color: $blue-color;
    }
    &__available {
      justify-self: end;
      display: inline-block;
    }
  }
  .btn-gruop {
    @extend .align-items;
    justify-content: flex-end;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 1024px) {
      width: 100%;
    }
    .price-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
    .text-crossed {
      text-decoration: line-through;
      font-size: 13px;
      font-weight: 700;
    }
    .price {
      @extend .padding-5;
      font-size: 16px;
      font-weight: 600;
      background-color: rgba(252, 99, 91, 0.18);
    }
    .qty {
      margin-left: 5px;
    }
  }
  .reset {
    margin-left: 5px;
    height: 31px;
    width: 31px;
    text-decoration: none;
    border: none;
    text-align: center;
    color: $red_color;
    background-color: white;
    border: $red_color 1px solid;
    &:hover {
      background-color: $red_color;
      color: white;
    }
  }
  .quantity {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 31px;
    width: 31px;
    background-color: white;
    color: $text_color;
    // font-weight: 600;
    // font-size: 20px;
    // text-align: center;
    // align-items: center;
    border: none;
    outline: none;
  }

  .total_cost {
    margin-left: 5px;
    width: 100px;
    background-color: white;
    color: $text_color;
    font-weight: 600;
    // font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
  }
  .full_cost {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text_color;
    font-weight: 600;
    font-size: 20px;

    .cost {
      padding: 5px 0;
      border-bottom: $green_color 1px solid;
    }
  }
  .checkout {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      width: 30vw;
    }
    .proceed {
      margin-left: 5px;
      height: 31px;
      text-decoration: none;
      border: none;
      text-align: center;
      color: $green_color;
      background-color: white;
      border: $green_color 1px solid;
      &:hover {
        background-color: $green_color;
        color: white;
      }
    }
    .return {
      margin-left: 5px;
      height: 31px;
      text-decoration: none;
      border: none;
      text-align: center;
      color: $blue-color;
      background-color: white;
      border: $blue-color 1px solid;
      &:hover {
        background-color: $blue-color;
        color: white;
      }
    }
  }
}
