@import "./color.scss";
.padding-12 {
  padding: 12px 24px;
}
.link_style {
  text-decoration: none;
  color: $text_color;
  display: block;
}
.a-active {
  border-bottom: $red_color 2px solid;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.header-for-block {
  padding-left: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  color: $text_color;
  background-color: $green_color;

  i {
    margin-right: 5px;
  }
}

.card_block {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  grid-template-rows: repeat(auto-fit, minmax(auto, auto));
}

.main-container {
  @extend .padding-12;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 12px;

  @media (max-width: 767px) {
    grid-template-columns: 40% auto;
  }
  @media (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
