<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ортен - Заказ {{order.id}}</title>
  </head>
  <body
    style="
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #000000;
    "
  >
    <div>
      <table
        style="
          border-collapse: collapse;
          width: 100%;
          border-top: 1px solid #dddddd;
          border-left: 1px solid #dddddd;
          margin-bottom: 20px;
        "
      >
        <thead>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: left;
                padding: 7px;
                color: #222222;
              "
            >
              Деталі замовлення
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: left;
                padding: 7px;
                color: #222222;
              "
            >
              Клієнт
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: left;
                padding: 7px;
              "
            >
              <b>№ замовлення:</b> {{order.id}}
              <br />
              <b>Спосіб доставки:</b> {{order.delivery_method}}
              <br />
              <b>Спосіб оплати:</b> {{order.pay_method}}
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: left;
                padding: 7px;
              "
            >
              <b>Клієнт:</b> {{order.name}}
              {{order.sur_name}}
              <br />
              <b>Телефон:</b> {{order.phone}}
              <br />
              <b>EMail:</b> {{order.email}}
            </td>
          </tr>
        </tbody>
      </table>
      <table
        style="
          border-collapse: collapse;
          width: 100%;
          border-top: 1px solid #dddddd;
          border-left: 1px solid #dddddd;
          margin-bottom: 20px;
        "
      >
      {% if order.note %}
        <thead>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: left;
                padding: 7px;
                color: #222222;
              "
            >
              Примітка
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: left;
                padding: 7px;
              "
            >
              {{order.note}}
            </td>
          </tr>
        </tbody>
        {% endif %}
      </table>
      <table
        style="
          border-collapse: collapse;
          width: 100%;
          border-top: 1px solid #dddddd;
          border-left: 1px solid #dddddd;
          margin-bottom: 20px;
        "
      >
        <thead>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: left;
                padding: 7px;
                color: #222222;
              "
            >
              Товар
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: left;
                padding: 7px;
                color: #222222;
              "
            >
              Модель
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: right;
                padding: 7px;
                color: #222222;
              "
            >
              Кількість
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: right;
                padding: 7px;
                color: #222222;
              "
            >
              Цена
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background-color: #85c987;
                font-weight: bold;
                text-align: right;
                padding: 7px;
                color: #222222;
              "
            >
              Итого:
            </td>
          </tr>
        </thead>
        <tbody>
          {% for item in product %}
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: left;
                padding: 7px;
              "
            >
              <span>{{ item.name }}</span>
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: left;
                padding: 7px;
              "
            >
              {{ item.vendor_code }}
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: right;
                padding: 7px;
              "
            >
              {{item.quantity }} шт.
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: right;
                padding: 7px;
              "
            >
              {{ item.price }} грн.
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: right;
                padding: 7px;
              "
            >
              {{ item.price_total }} грн.
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: right;
                padding: 7px;
              "
              colspan="4"
            >
              <b>Сумма:</b>
            </td>
            <td
              style="
                font-size: 12px;
                border-right: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                text-align: right;
                padding: 7px;
              "
            >
              {{ order.price_order }} грн.
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
